<h1>La team</h1></br>
<div class="container">
<div class="card-deck mb-3 text-center">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Corentin</h4>
    </div>
      <h2 class = "mt-2">CEO</h2>
      <ul class="list-unstyled mt-3 mb-4 text_left">
        <li>Intelligent</li>
        <li>Sympa</li>
        <li>Bref le grand patron</li>
      </ul>
    </div>
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Pierre</h4>
    </div>
    	<h2 class = "mt-2">CTO</h2>
      <ul class="list-unstyled mt-3 mb-4">
        <li>Pas aussi cool que le patron</li>
        <li>Mais sympa quand même</li>
      </ul>
    </div>
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Paul</h4>
    </div>
      <h2 class="mt-2">Stagiaire</h2>
      <ul class="list-unstyled mt-3 mb-4">
        <li>C'est un stagiaire, on s'en fout</li>
      </ul>
  </div>
</div>