h1
{
  text-align: center;
  text-shadow:   -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
   1px 1px 0 #000,
   1px 1px 2px #141414,
   1px 1px 3px #141414,
   1px 1px 5px #141414,
   1px 1px 7px #141414,
   1px 1px 10px #141414,
   1px 1px 12px #141414,
   1px 1px 18px #141414;color:#fff;
}
.inputfield
{
height: 100px;

}
#comment_section
{
padding-left: 10%;
}